.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2021-09-211653531.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 388px;
}

.u-section-1 .u-text-1 {
  margin: 105px 371px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 306px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 111px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/170029.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 388px;
}

.u-section-2 .u-text-1 {
  margin: 105px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 20px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 116px;
  }
}@font-face {
  font-family: 'Helvetica-Oblique';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica-Oblique.ttf);
}@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Helvetica.ttf);
}